.header {
  text-align: center;
  color: rgb(174, 174, 240);
  font-size: 4rem;
  margin-top: 0.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* nav-bar */

.nav-container {
  width: 100%;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}

.nav-container .nav-route-container {
  display: flex;
  justify-content: space-between;
}

.navbar-nav .nav-link {
  margin-right: auto;
  text-decoration: none;
}

ul {
  list-style: none;
}

#username-container {
  margin-left: auto;
}

/* all articles page */

#article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1rem;
}

.article-card-container {
  border-width: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #e4e4e4;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(174, 174, 240);
  height: 30rem;
}

#article-card-container .card-link {
  text-decoration: none;
  color: rgb(107, 128, 232);
}

#article-card-container img {
  height: 10rem;
}

.author-container {
  margin-bottom: 1rem;
  color: #818181;
}

svg {
  margin: 0.4rem;
}

@media screen and (max-width: 1200px) {
  #article-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 786px) {
  #article-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 1rem;
  }
}

form {
  color: black;
}

#username-container {
  color: black;
}

p {
  color: black;
}

/* sort-by */

.sort-by-container {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #ebe7ff;
}

.sort-by-container label {
  margin-right: 1rem;
}

.sort-by-container .sort-options {
  margin-right: 1rem;
  height: 2.8rem;
  padding: 0.5rem;
}

.sort-by-container .order-options {
  margin-right: 1rem;
  padding: 0.5rem;
  height: 2.8rem;
}

/* article */

@media screen and (max-width: 600px) {
  #single-article-container img {
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  max-width: 92%;
}

.new-comment-container #input-comment {
  margin-right: 3rem;
  background-color: rgb(224, 224, 224);
  border-radius: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  align-items: center;
  margin-left: 1.3rem;
  border: none;

}


.comment-card .comment-info {
 background-color: #ebe7ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  height: 8%;
  padding-top: 10.7%;
  padding-bottom: 1.2%;
  margin-bottom: 40.4rem;
  font-size: x-small;
}

#single-article-container .article-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  color: white;
  font-size: x-small;
  margin-top: 10%;
  padding-top: 8%;
  padding-left: 6%;
}

.new-comment-card .new-comment-info {
  background-color: #ebe7ff;
  margin-top: 0.8rem;
  margin-left: 1rem;
  margin-bottom: 0.4rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8%;
  color: #595959;
  font-size: 0.8rem;
}
}

#single-article-container h2 {
  padding-top: 1rem;
  padding-bottom: 0.8rem;
}

#single-article-container .topic {
  color: rgb(116, 116, 229);
  font-weight: bold;
  background-color: rgb(255, 255, 255, 0.5);
  width: 50%;
  justify-content: flex-end;
  margin: 0 auto;
  text-align: right;
  padding-right: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

#single-article-container img {
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  height: 22rem;
}
/* voting in single article */

#button-voting-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

#button-voting-container button {
  background-color: white;
  font-size: 1.2rem;
  border-radius: 1rem;
  height: 3rem;
  width: 3rem;
}

#button-voting-container button:hover {
  background-color: white;
  font-size: 1.5rem;
}

#button-voting-container button:active {
  background-color: rgb(206, 206, 206);
  font-size: 1.5rem;
  color: white;
  transform: translateY(4px);
}

#button-voting-container p {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  color: white;
  font-weight: bolder;
}

#single-article-container {
  border-color: azure;
  border-style: solid;
  text-align: center;
  background-color: rgb(116, 116, 229);
  margin: 2rem;
  border-radius: 2.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#single-article-container .article-body {
  background-color: rgba(255, 255, 255);
  margin: 2rem;
  border-radius: 2rem;
  padding: 1.5rem;
  color: rgb(116, 116, 229);
  font-weight: bold;
  justify-content: flex-start;
}

#single-article-container .article-info {
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  height: 2rem;
  color: white;
  padding-right: 1.5rem;
  padding-top: 0.9rem;
}

/* comments */

h2 {
  color: white;
  padding-top: 0.4rem;
}

.new-comment-card {
  border-radius: 1rem;
  background-color: white;
  margin: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.new-comment-card .new-comment-info {
  background-color: #ebe7ff;
  margin-top: 0.8rem;
  margin-left: 2rem;
  margin-bottom: 0.4rem;
  margin-right: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  color: #595959;
  font-size: 0.8rem;
  height: 4rem;
}

#comments-container {
  border-color: rgb(255, 255, 255);
  border-style: solid;
  text-align: center;
  background-color: rgb(116, 116, 229);
  margin: 2rem;
  border-radius: 2.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.new-comment-container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 2rem;
  border-color: rgb(255, 255, 255);
  border-style: solid;
}

.new-comment-card .new-comment-body {
  font-weight: bold;
  color: rgb(62, 62, 228);
  padding: 2rem;
}
.new-comment-container #input-comment {
  min-height: 5rem;
  width:85%;
  margin-right: 3rem;
  background-color: rgba(224, 224, 224, 0.934);
  border-radius: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  align-items: center;
  margin-left: 1.3rem;
  border: none;
}

.new-comment-container button {
  background-color: rgb(116, 116, 229);
  font-weight: bold;
  font-size: larger;
  letter-spacing: 0.03rem;
  height: 4rem;
  width: 13rem;
  border-radius: 1rem;
  border: solid 3px white;
  color: white;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
  
}

.new-comment-container button:hover {
  font-size: larger;
  background-color: rgb(62, 62, 228);
}

.new-comment-container button:active {
  font-size: larger;
  background-color: rgb(62, 62, 228);
  opacity: 0.6;
  transform: translateY(4px);
}

.new-comment-container p {
  padding-bottom: 2rem;
}

.comment-card p {
  color: rgb(62, 62, 228);
  align-items: center;
  padding: 2rem;
  font-weight: bold;
}
.comment-card .comment-background {
  background-color: white;
  margin: 2rem;
  border-radius: 2rem;
  min-height: 5rem;
  align-items: center;
  padding-bottom: 1rem;
}

.comment-card .comment-info {
 background-color: #ebe7ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  height: 4rem;
  padding-top: 1.7%;
  padding-bottom: 1.2%;
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
}

.comment-card .comment-info h4 {
  margin-left: 1.5rem;
  color: #595959;
  font-size: 0.8rem;
}

.comment-card .comment-info p {
  margin-right: 0.1rem;
  color: rgb(79, 79, 79);
  padding-top: 2.5rem;
}

.comment-card .comment-info a {
  margin-right: 0.8rem;
  color: rgb(79, 79, 79);
 padding-bottom: 0.4rem;
}

.delete-comment-button {
  background-color: rgb(116, 116, 229);
  font-weight: bold;
  font-size: larger;
  letter-spacing: 0.03rem;
  height: 4rem;
  width: 13rem;
  border-radius: 1rem;
  border: solid 3px white;
  color: white;
  margin-top: 1rem;
}

.delete-comment-button:hover {
  font-size: larger;
  background-color: rgb(62, 62, 228);
}

.delete-comment-button:active {
  font-size: larger;
  background-color: rgb(62, 62, 228);
  opacity: 0.6;
  transform: translateY(4px);
}

/* loading spinner */

.loading-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

/* Sign in page */

.sign-in-container {
  display: flex;
  justify-content: center;
  height: 19rem;
  background-color: #aeaef0;
}

.sign-in-container label {
  justify-content: center;
  margin-right: 0.4rem;
  padding-top: 5.7rem;
}

.sign-in-container #input-username {
  height: 3rem;
  border-radius: 0.4rem;
  padding-left: 1rem;
  border: none;
  border-bottom: 2.5px solid rgb(128, 128, 128);
}

.sign-in-container .button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.sign-in-container #signin-button {
  appearance: none;
  background-color: rgb(116, 116, 229);
  border: 3px solid #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.sign-in-container #signin-button:disabled {
  pointer-events: none;
}

.sign-in-container #signin-button:hover {
  color: #fff;
  background-color: rgb(82, 82, 161);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.sign-in-container #signin-button:active {
  box-shadow: none;
  transform: translateY(0);
}

